{% extends 'index.html' %}
{% block content %}
<html >
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title> board</title>

</head>
<body>

  <div class="wrapper row3">
    <section class="hoc container clear"> 
     
      <div class="sectiontitle">
        <h6 class="heading">Et ipsum suscipit sit amet</h6>
        <p>Molestie dolor blandit mauris porta quam erat ut laoreet velit</p>
      </div>
      <ul class="nospace group latest">
        <li class="one_third first">
          <article>
            <time datetime="2045-04-06T08:15+00:00"><i class="far fa-calendar-alt rgtspace-5"></i> 06<sup>th</sup> April 2045 @ 15:00pm</time>
            <div class="excerpt">
              <h6 class="heading">ac finibus purus pulvinar quis suspendisse varius</h6>
              <p>condimentum sem ac euismod tortor semper sit amet fusce pretium justo nec faucibus finibus libero odio porttitor magna et semper mi velit maximus nisi nullam accumsan massa [<a href="#">&hellip;</a>]</p>
              <ul class="meta">
                <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
                <li><i class="fas fa-tags rgtspace-5"></i> <a href="#">Tag 1</a>, <a href="#">Tag 2</a></li>
              </ul>
              <footer><a class="btn" href="#">Read More</a></footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <time datetime="2045-04-05T08:14+00:00"><i class="far fa-calendar-alt rgtspace-5"></i> 05<sup>th</sup> April 2045 @ 14:00pm</time>
            <div class="excerpt">
              <h6 class="heading">dapibus nulla a tristique risus vivamus ut metus</h6>
              <p>turpis integer ac neque ac risus malesuada tincidunt vestibulum rutrum luctus lobortis ut tincidunt nulla at luctus aliquet mi magna sagittis sem id dapibus dui ex at augue etiam [<a href="#">&hellip;</a>]</p>
              <ul class="meta">
                <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
                <li><i class="fas fa-tags rgtspace-5"></i> <a href="#">Tag 1</a>, <a href="#">Tag 2</a></li>
              </ul>
              <footer><a class="btn" href="#">Read More</a></footer>
            </div>
          </article>
        </li>
        <li class="one_third">
          <article>
            <time datetime="2045-04-04T08:13+00:00"><i class="far fa-calendar-alt rgtspace-5"></i> 04<sup>th</sup> April 2045 @ 13:00pm</time>
            <div class="excerpt">
              <h6 class="heading">lacinia et mauris sit amet bibendum vulputate sem</h6>
              <p>duis vulputate at massa et sollicitudin erat eget suspendisse dignissim ultrices hendrerit donec aliquam risus a porta fermentum donec a mi pulvinar ex auctor eleifend eu finibus [<a href="#">&hellip;</a>]</p>
              <ul class="meta">
                <li><i class="fas fa-user rgtspace-5"></i> <a href="#">Admin</a></li>
                <li><i class="fas fa-tags rgtspace-5"></i> <a href="#">Tag 1</a>, <a href="#">Tag 2</a></li>
              </ul>
              <footer><a class="btn" href="#">Read More</a></footer>
            </div>
          </article>
        </li>
      </ul>
   
    </section>
  </div> 


</body>
</html>
{% endblock %}