{% extends 'index.html' %}
{% block content %}
<html >
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title> board</title>
<style>
#po{

  float: left;
  width: 24%;
}

</style>
</head>
<body>
  <div >
    <marquee direction="right" width="100%"   ><h6>info news:</h6> </marquee>
  
  
  </div>
      <div style="margin-top:8%; margin-left:40%">
        <h6 >Editorial Board Members<h3>
    
      </div>        
   
<div  class="wrapper row3">

  <main class="hoc container clear"> 
  
    
    <section  id="introblocks">


      <ul class="nospace group">
       
        {% for info in infos %}
        
        {% if info.is_editor %}
        <li  class="one_third">
          <article><a href="#"><i class="fas fa-cube"></i></a>
            <h6 class="heading"><b>Name: </b> {{info.First_Name}}  {{Middle_Name}} {{info.Last_Name}}</h6>
            <p><b>Email: </b>{{info.email}}</p>
            <p><b>Institution:</b>{{info.Institution}}</p>
            <p><b>Country:</b>{{info.Country}}</p>
            <p><b>Areas of Specialization:</b><hr>{{info.Areas_of_Specialization}}</p>
            
          </article>
        </li>

        {%  endif %}
        {% endfor %}
        
            

      </ul>




    </section> 




    </main>
</div>




</body>
</html>
{% endblock %}