{% extends 'index.html' %}
{% block content %}

<body >
    <div class="wrapper row3">
        <main class="hoc container clear"> 
        
          <section id="introblocks">
            <div class="sectiontitle">
              <h6 class="heading">Editor one</h6>
              <p>jeeshan khan</p>
            </div>
            <ul class="nospace group">
              <li class="one_third first">
                <article><a href="#"><i class="fas fa-allergies"></i></a>
                  <h6 class="heading">main</h6>
                  <p>can be well brother [&hellip;]</p>
                  <footer><a class="btn" href="#">Read More</a></footer>
                </article>
              </li>
              <li class="one_third">
                <article><a href="#"><i class="fas fa-cube"></i></a>
                  <h6 class="heading">article two</h6>
                  <p>beutifull mind [&hellip;]</p>
                  <footer><a class="btn" href="#">Read More</a></footer>
                </article>
              </li>
              <li class="one_third">
                <article><a href="#"><i class="fas fa-podcast"></i></a>
                  <h6 class="heading">aneesh khan</h6>
                  <p>a man can chane anything [&hellip;]</p>
                  <footer><a class="btn" href="#">Read More</a></footer>
                </article>
              </li>
            </ul>
          </section> 
{% endblock %}