{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
* {
    box-sizing:content-box;
}

.box {
  float: left;
  width: 20%;
  margin-left: 5px;
  
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>
<h1 style="text-align: center; margin-top:20px">
    :::::::::::::::::::::::::::::::::User Registration::::::::::::::::::::::::::::::::
</h1>
<div class="clearfix">
<form method="post">
  {% csrf_token %}
    {% for field in registration_form %}
    <div class="box">
    <p>
        {{field.label_tag}}
        {{field}}
        <!-- {% if field.help_text %}
        <small style="color:darkred;"> {{ field.help_text }} </small>
        {% endif %} -->
        {% for error in field.errors  %}
        <p style="color:rgb(255, 0, 128);" >{{error}}</p>
        {% endfor %}
    </p>
    </div>
    {% endfor %}
  </div>
    <button type="submit" style="width: 200px; margin-left:40%; height:30px; color:rgb(0, 0, 0); background:rgba(158, 149, 117, 0.877); border: 2px solid red;
    border-bottom-left-radius: 50px 20px">REGISTRATION</button>
</form>

</body>
</html>
{% endblock %}