{% load static %}

<!DOCTYPE html>
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Chemical Science</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href=" {% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">

</head>
<body id="top">

<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    
    <div class="fl_left">
      <ul class="nospace">

        

        {% if request.user.is_authenticated %}
        <li><a href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i></a></li>
        <li><a href="{% url 'author' %}">Author</a></li>
       
        {% if request.user.is_publisher %}
        <li><a href="{% url 'publisher' %}">Publisher</a></li>
        {% endif %}
        {% if request.user.is_reviewer %}
        <li><a href="{% url 'reviewer' %}">Reviewer</a></li>
        {% endif %}
        
        {% if request.user.is_editor %}
        <li><a href="{% url 'editor' %}">editor</a></li>
        {% endif %}

        
        {% endif %}
      </ul>
    </div>

    <div class="fl_right">
      
      <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i>Help</li>
        {% if request.user.is_authenticated %}
        <li> Hellow, {{request.user.username}}</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>








<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    
    <div id="logo" class="one_quarter first">
      <h1><a href="{% url 'home' %}">Chemical Science Journal</a></h1>
      <p>Anish Khan</p>
    </div>
    <div class="one_quarter"><strong><i class="fas fa-phone rgtspace-5"></i> Call Us:</strong> +91 9761611918</div>
    <div class="one_quarter"><strong><i class="far fa-clock rgtspace-5"></i> Mon. - Sat.:</strong> 08.00am - 18.00pm</div>
  </header>
</div>
<hr><hr>
<style type="text/css">
  .con{
min-height: 100vh;
height: 100%;
  }
</style>



<div  class="con" >
{% block content %}



{% endblock content %}
</div>










<div  class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="#"
        title="Free Website Templates">JEESHAN KHAN</a></p>
  </div>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>


<!-- JAVASCRIPTS -->
<script src="{% static 'layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js' %}"></script>

</body>
</html>