{% extends 'index2.html' %}
{% load crispy_forms_tags %}


{% block content %}

<style>

  .sidenav {
    border-top-right-radius: 25px;
    margin-top: 0%;
    height: 100%;
    width: 200px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(24, 17, 17);
    overflow-x: hidden;
    padding-top: 20px;
    float: left;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;

  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 600px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  </style>
  

  ​{% if request.user.is_authenticated %}
  <div class="sidenav">
    <h6 style="color: whitesmoke;">Update Your Details</h6>
    <u>
    <li><a href="#">E-mail/Name</a></li>
<li><a href="#services">Address</a></li>
    <li><a href="#clients">User Id/Password</a></li>
  </u>
  </div>
  <div style="float: left; text-align:center; overflow:visible;margin-left:15px">
<h3>Here Your Home User &Because; click above header to use your granted permission. </h3>

  </div>
{% else %}
<div style="margin:5%;">
  <h1 style="color:red;" >{{pmsg}}</h1>
<li><a href="{% url 'home1' %}"><h3>Go To Home</h3> </a></li>
</div>

  {% endif %}
{% endblock content %}